@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Urbanist Variable', sans-serif;
	color: #eeeeee;
}

.background-gradient {
	background: radial-gradient(
		circle at top center,
		hsla(222, 80%, 60%, 0.5) 0%,
		hsla(222, 0%, 0%, 0) 50%,
		hsla(222, 0%, 0%, 0) 100%
	);
}
